<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/assets/stylesheet.css">
</head>
<body>
<%include partials/nav.ejs%>
<h3>Hello! About to tell you about about</h3>
<p>This is fun, a lot of fun</p>

<p>Thanks for contacting us</p>
<p>You contacted <%= data.who%> of <%= data.department%> department and your email is <%= data.email%></p>


<!--<a href="/"> Home </a>
<a href="/about"> About </a>
<a href="/profile/Apple"> Profile </a-->

</body>
</html>
